/*** reset ***********/
html,body,ul,ol,li,dl,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,a,img,label{margin:0;padding:0;border:0}
header, section, footer, aside, nav, article {display:block}
ul{list-style:none}
$color1:#000;
$color2:#fff;
$color3:#f5f5f5;
$color4:#d5d5d5;
$color5:#ccc;
$color6:#007abb;
$color7:#0563bf;
$color8:#808080;
$color9:#333;




* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 62.5%
}


body{
	@include flexbox;
	@include font-size(1.4);
	@include rounded;
	background: url(/tmp/bg.jpg) no-repeat center top /cover;
	flex-flow: column;
	font-display: swap;
	font-family: "SegoeUIRegular", Arial;
	height: 100vh;
}

html, body{
	height: 100%
}


@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	//ie11
}



*:focus{outline:none}

input::-moz-focus-inner{
	border: 0;
	padding: 0;
}

.flexbox{
	@include flexbox;
}


.outerwrapper{
	-webkit-flex: 1;
	flex: 1;
}

/*** standart classes *****/
p{margin: .5rem 0; line-height: 1.2}
a{color:$color6}
h1{font-size:2.5rem}
h2{font-size:2.4rem}
h3{font-size:1.6rem}


*:focus{outline:none}

input::-moz-focus-inner{
	border: 0;
	padding: 0;
}

@font-face {
    font-family: 'CenturyGothic';
    src: url('../fonts/CenturyGothic.eot');
    src: url('../fonts/CenturyGothic.eot') format('embedded-opentype'),
         url('../fonts/CenturyGothic.woff2') format('woff2'),
         url('../fonts/CenturyGothic.woff') format('woff'),
         url('../fonts/CenturyGothic.ttf') format('truetype')
}


@font-face {
    font-family: 'CenturyGothicBold';
    src: url('../fonts/CenturyGothicBold.eot');
    src: url('../fonts/CenturyGothicBold.eot') format('embedded-opentype'),
         url('../fonts/CenturyGothicBold.woff2') format('woff2'),
         url('../fonts/CenturyGothicBold.woff') format('woff'),
         url('../fonts/CenturyGothicBold.ttf') format('truetype')
}


/* font-family: "SegoeUIRegular"; */
@font-face {
	font-family: "SegoeUIRegular";
	src: url("../fonts/SegoeUIRegular/SegoeUIRegular.eot");
	src: url("../fonts/SegoeUIRegular/SegoeUIRegular.eot?#iefix")format("embedded-opentype"),
	url("../fonts/SegoeUIRegular/SegoeUIRegular.woff") format("woff"),
	url("../fonts/SegoeUIRegular/SegoeUIRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "SegoeUIBold"; */
@font-face {
	font-family: "SegoeUIBold";
	src: url("../fonts/SegoeUIBold/SegoeUIBold.eot");
	src: url("../fonts/SegoeUIBold/SegoeUIBold.eot?#iefix")format("embedded-opentype"),
	url("../fonts/SegoeUIBold/SegoeUIBold.woff") format("woff"),
	url("../fonts/SegoeUIBold/SegoeUIBold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "SegoeUIItalic";
	src: url("../fonts/SegoeUIItalic/SegoeUIItalic.eot");
	src: url("../fonts/SegoeUIItalic/SegoeUIItalic.eot?#iefix")format("embedded-opentype"),
	url("../fonts/SegoeUIItalic/SegoeUIItalic.woff") format("woff"),
	url("../fonts/SegoeUIItalic/SegoeUIItalic.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}


.cg{font-family: 'CenturyGothic';}
.cgb{font-family: 'CenturyGothicBold';}

.bold{
	font-family: "SegoeUIBold";
}
.italic{
	font-family: "SegoeUIItalic";
}


.title{
	@extend .bold;
	@include font-size(2.3);
	color: $color6;
	margin: 1.2rem 0;
	text-transform: uppercase;
}


.tdn{
	text-decoration: none;
	&:hover{
		text-decoration: underline;
	}
}

.tdu{
	text-decoration: underline;
	&:hover{
		text-decoration: none;
	}
}


.block-center{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

@mixin sprite($x:0, $y:0){
	background-image: url(../images/sprite.png);
	background-repeat: no-repeat;
	background-position: $x $y;
}

.before{
	content: "";
	display: block;
	position: absolute;
}


.form-control {
   border: 1px solid $color3;
   border-radius: 0;
   margin-top: 0.6rem;
	font-size: 16px;
	&:focus,
	&:active{
		border-color: $color5;
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(222, 72, 111, 0.3)
	}
}


header{
	.logo{
		margin-top: 13rem;
		left: 65px;
		position: relative;
		text-align: center;
	}
}


/* =navigation
---------------------------*/
.nav{
	@extend .cg;
	margin: 1.6rem 1.8rem 0;
	padding: 1.2rem 0;
	background: rgba(0, 0, 0, .75);
	outline: 6px solid rgba(255, 255, 255, .31);
	@include drop-shadow(0,0,4px,.75);
	&>ul{
		display: flex;
		justify-content: center;
		&>li{
			margin: 0 1.5rem;
			position: relative;
			span{
				color: $color2;
				cursor: pointer;
			}
			&>a{
				@include transition-param(border-bottom);
				border-bottom: 1px dashed rgba(255,255,255,0);
				color: $color2;
				text-decoration: none;
			}
			.subnav{
				@include transition-param;
				left: 0;
				min-width: 14rem;
				opacity: 0;
				padding-top: 19px;
				position: absolute;
				text-align: center;
				top: 18px;
				&:before{
					@extend .before;
					background:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAXCAMAAAAm/38fAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAbFBMVEUAerv///8AersAersAersAersAersAersAersAersAersAersAersAersAersAersAersAersAersAersAersAersAersAersAersAersAersAersAersAersAersAersAersAersAerv///+S3MNVAAAAInRSTlMAAEoHObYB3oct1Hsi/gbJbxj8vWMQ+bFXCvS1pe2ZQALlDFFEEAAAAAFiS0dEAf8CLd4AAAAHdElNRQfhCgoKGwpwtT0QAAAAYElEQVQoz3XJRwqAMAAEwNh77133/48UMQgm2bmOsB1h5npk/IBNCDIR2MRsEpBJs2dywxQgU4JMVbNpQKYFma5nM4DMCDLT/M3ynxXaWC9oI2PTRsYOdWQcUEfGeSlzA/bUFtpzyeo9AAAAAElFTkSuQmCC") no-repeat left top;
					height: 15px;
					left: 33px;
					top: 4px;
					width: 15px;
				}
				ul,
				.text{
					background: $color6;
					border-radius: 8px;
					color: $color2;
					margin: 0;
					padding: .4rem 0;	
				}
				li{
					padding: .4rem 0;
					a{
						color: $color2;
						@extend .tdn;
					}
					&.active{
						a,span{
							text-decoration: underline;
						}
					}
				}

				&-text{
					left: -150px;
					min-width: 40rem;
					text-align: left;
					&:before{
						filter: FlipH;
						left: 50%;
						transform: scaleX(-1);
					}
				}
				.text{
					padding-top: 1rem;
					padding-bottom: 1rem;					
					padding-left: 1.5rem;
					padding-right: 1.5rem;
				}
			}
			&:hover{
				& > a{
					border-bottom: 1px dashed rgba(255,255,255,1);
				}
				.subnav{
					opacity: 1;
					z-index: 99;
				}
			}
		}
	}
}
/* =/navigation
---------------------------*/




.owl-carousel{
	.owl-controls{
		position: absolute;
		width: 100%;
		top: 115px;
		.owl-buttons{
			.owl-prev,
			.owl-next{
				background: url(../images/prevnext.png) no-repeat left top;
				width: 65px;
				height: 65px;
				position: absolute;
			}
			.owl-prev{
				left: -110px;
			}
			.owl-next{
				@include sprite;
				// .rotation(180deg);
				right: -110px;
			}
		}
	}
}

/* =main
---------------------------*/

.main{
	aside{
	}
}


.text{
	margin: 2rem 0;
}




/* =footer
---------------------------*/
footer{
	background: $color3;
	margin-top: 3.7rem;
	.title{
		@include font-size(1.8);
		font-family: "SegoeUIRegular", Arial;
		margin-bottom: 1.5rem;
		padding-top: 1.1rem;
	}	
}

.footer{
	$w: 980px;
	&__menu{
		border-top: 1px solid $color4;
		margin: 3rem 0 3.4rem;
		padding-top: 1.3rem;
		@extend .cg;
		ul{
			display: flex;
			justify-content: space-between;
			margin: auto;
			width: $w;
			li{
				a{
					color: $color1;
					text-decoration: none;
					@include transition();
					&:hover{
						color: $color6;
						border-bottom: 1px dashed $color6;
					}
				}
				&.active{
					span{
						color: $color6;
						border-bottom: 1px dashed $color6;						
					}
				}
			}
		}
	}

	&__content{
		margin: auto;
		width: $w;
		.flexbox{
			justify-content: space-between;
		}		
	}

	&__item{
		color: $color9;
		padding-right: 5rem;
		&:last-child{
			width: 210px;
		}
		&-cryocream{
			text-align: center;
			p:not(.footer__logo-title){
				@include font-size(1.5);
				color: $color8;
			}
		}

		.email{
			&:hover{
				text-decoration: none;
			}
		}
	}

	&__logo{
		&-title{
			@extend .bold;
			@include font-size(1.8);
			color: $color1;
			letter-spacing: .6rem;
			margin-top: 1rem;
		}
	}


	&__bottom{
		@extend .cg;
		border-top: 1px solid $color4;
		justify-content: space-between;
		padding: 1.6rem 0;
		margin-top: 1.5rem;
		a{
			color: $color1;
			text-decoration: none;
			border-bottom: 1px dashed $color1;
			&:hover{
				border-bottom: none;
			}
		}
	}

	&__social{
		color: $color3;
		font-style: normal;
		font-weight: bold;
		&-icons{
			a{
				opacity: 1;
				@include transition-param;
				&:hover{
					opacity: .8;
				}
			}
		}
	}	
}


.text-center{
	text-align: center;
}



label.error{
	display: none !important;
}