/*** reset ***********/
html,body,ul,ol,li,dl,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,a,img,label{margin:0;padding:0;border:0}
header, section, footer, aside, nav, article {display:block}
ul{list-style:none}
$color1:#000;
$color2:#fff;
$color3:#f5f5f5;
$color4:#d5d5d5;
$color5:#ccc;
$color6:#007abb;



$color7:#80bbde;
$color8:#292929;


* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 62.5%
}


body{
	@include flexbox;
	flex-flow: column;
	font-display: swap;
	height: 100vh;
	font-family: "SegoeUIRegular", Arial;
	@include font-size(1.4);
	@include rounded;
}

html, body{
	height: 100%
}


@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	//ie11
}



*:focus{outline:none}

input::-moz-focus-inner{
	border: 0;
	padding: 0;
}

.flexbox{
	@include flexbox;
}


.outerwrapper{
	-webkit-flex: 1;
	flex: 1;
}

/*** standart classes *****/
p{margin: .5rem 0; line-height: 1.2}
a{color:#020000}
h1{font-size:2.5rem}
h2{font-size:2.4rem}
h3{font-size:1.6rem}


*:focus{outline:none}

input::-moz-focus-inner{
	border: 0;
	padding: 0;
}

/* font-family: "SegoeUIRegular"; */
@font-face {
	font-family: "SegoeUIRegular";
	src: url("../fonts/SegoeUIRegular/SegoeUIRegular.eot");
	src: url("../fonts/SegoeUIRegular/SegoeUIRegular.eot?#iefix")format("embedded-opentype"),
	url("../fonts/SegoeUIRegular/SegoeUIRegular.woff") format("woff"),
	url("../fonts/SegoeUIRegular/SegoeUIRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "SegoeUIBold"; */
@font-face {
	font-family: "SegoeUIBold";
	src: url("../fonts/SegoeUIBold/SegoeUIBold.eot");
	src: url("../fonts/SegoeUIBold/SegoeUIBold.eot?#iefix")format("embedded-opentype"),
	url("../fonts/SegoeUIBold/SegoeUIBold.woff") format("woff"),
	url("../fonts/SegoeUIBold/SegoeUIBold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "SegoeUIItalic";
	src: url("../fonts/SegoeUIItalic/SegoeUIItalic.eot");
	src: url("../fonts/SegoeUIItalic/SegoeUIItalic.eot?#iefix")format("embedded-opentype"),
	url("../fonts/SegoeUIItalic/SegoeUIItalic.woff") format("woff"),
	url("../fonts/SegoeUIItalic/SegoeUIItalic.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

.bold{
	font-family: "SegoeUIBold";
}
.italic{
	font-family: "SegoeUIItalic";
}


.title{
	@extend .bold;
	@include font-size(2.3);
	color: $color6;
	margin: 1.2rem 0;
	text-transform: uppercase;
}


.tdn{
	text-decoration: none;
	&:hover{
		text-decoration: underline;
	}
}

.tdu{
	text-decoration: underline;
	&:hover{
		text-decoration: none;
	}
}


.block-center{
	margin-left: auto;
	margin-right: auto;
}

@mixin sprite($x:0, $y:0){
	background-image: url(../images/sprite.png);
	background-repeat: no-repeat;
	background-position: $x $y;
}

.before{
	content: "";
	display: block;
	position: absolute;
}


.form-control {
   border: 1px solid $color3;
   border-radius: 0;
   margin-top: 0.6rem;
	font-size: 16px;
	&:focus,
	&:active{
		border-color: $color5;
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(222, 72, 111, 0.3)
	}
}




/* =navigation
---------------------------*/
.nav{
	margin: 1rem 1.8rem 0;
	padding: 1.2rem 0;
	background: rgba(0, 0, 0, .75);
	bottom: 6px solid rgba(255, 255, 255, .31);
	ul{
		display: flex;
		justify-content: center;
		li{
			margin: 0 1.5rem;
			a{
				border-bottom: 1px dashed rgba(255,255,255,0);
				color: $color2;
				text-decoration: none;
				@include transition-param(border-bottom);
				&:hover{
					border-bottom: 1px dashed rgba(255,255,255,1);
				}
			}
		}
	}
}
/* =/navigation
---------------------------*/


.owl-carousel{
	.owl-controls{
		position: absolute;
		width: 100%;
		top: 115px;
		.owl-buttons{
			.owl-prev,
			.owl-next{
				background: url(../images/prevnext.png) no-repeat left top;
				width: 65px;
				height: 65px;
				position: absolute;
			}
			.owl-prev{
				left: -110px;
			}
			.owl-next{
				@include sprite;
				// .rotation(180deg);
				right: -110px;
			}
		}
	}
}

/* =main
---------------------------*/

.main{
	aside{
	}
}


.text{
	margin: 2rem 0;
}




/* =footer
---------------------------*/
footer{
	background: $color3;
	margin-top: 2.5rem;
}

.footer{
	&__menu{
		border-top: 1px solid $color4;
		margin: 3rem 0;
		padding-top: 1.5rem;
		ul{
			display: flex;
			li{
				margin: 0 3.5rem;
				a{
					color: $color1;
					text-decoration: none;
				}
			}
		}
	}

	&__bottom{
		border-top: 1px solid $color4;
		padding: 1.6rem 0;
		justify-content: space-between;
	}
}


.text-center{
	text-align: center;
}