::-ms-clear {
        display: none;
}


// safari
_::-webkit-:host:not(:root:root), .header{
}


// edge
@supports (-ms-ime-align:auto) {

}


//ie11
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	body{
		display: block;
		height: auto;
	}
	.team__item{
		padding-right: 0;
	}
}


.ie10{
	.production__item-title{
		display: block;
		padding-top: 7.5rem;
	}
	.team__item{
		padding-right: 0;
	}
}