.catalog{
	.flexbox{
		justify-content: space-between;
	}

	&__item{
		position: relative;
		$s: 200px;
		&:before{
			@extend .before;
			height: $s;
			width: $s;
			background: url(../images/mask.png) no-repeat left top;
			z-index: 1;
		}
		&-title{
			@extend .bold;
			@include font-size(1.8);
			color: $color2;
			height: $s;
			width: $s;
			left: 0;
			line-height: 1.5;
			padding-left: 40px;
			padding-right: 40px;
			position: absolute;
			text-transform: uppercase;
			top: 0;
			z-index: 2;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
}


.home{
	&__gallery{
		.flexbox{
			justify-content: space-between;
		}
		&-item{
			a{
				display: block;
				position: relative;
				img{
					vertical-align: top;
				}
				&:after{
					@extend .before;
					background:url(../images/zoom.png) no-repeat center center rgba(0, 122, 187, .55);
					height: 100%;
					left: 0;
					top: 0;
					width: 100%;
					opacity: 0;
					transform: scale(.7);
					@include transition;
				}

				&:hover{
					&:after{
						transform: scale(1);
						opacity: 1;
					}
				}

			}
		}
	}
}

.product{

	&__carousel{
		.owl{
			&-dots{
				@include justify-content(center);
				bottom: 2.8rem;
				display: flex;
				position: absolute;
				width: 100%;
				.owl-dot{
					border: 3px solid $color2;
					height: 15px;
					margin: 0 8px;
					width: 15px;
					@include rounded(50%);
					&.active{
						background: $color2;
					}
				}
			}
			&-nav{
				left: 50%;
				margin-left: -49%;
				position: absolute;
				top: 110px;
				width: 98%;
				.owl-{
					&prev,
					&next{
						background: url(../images/prevnext.png) no-repeat left top;
						height: 43px;
						position: absolute;
						width: 28px;
						&.disabled{
							opacity: .6;
						}
					}

					&next{
						right: 0;
						@include rotation(180deg);
					}
				}
			}
		}
	}


	$w : 298px;
	&__item{
		@extend .block-center;
		color: $color2;
		position: relative;
		text-align: center;
		width: $w;

		hr{
			background: $color2;
			border:none;
			display: block;
			height: 3px;
			margin: 2rem auto;
			width: 85px;
		}

		&:after{
			@extend .before;
			@include transition-param;
			background:  rgba(0, 122, 187, .55);
			height: 100%;
			left: 0;
			opacity: 0;
			top: 0;
			width: 100%;
			z-index: 1;
		}

		&:hover{
			&:after{
				opacity: 1;
			}
		}
	}

	&__pic{
		img{
			max-width: 100%;
			height: auto;
			display: block;
		}
	}

	&__textbox{
		$wtb: 290px;
		left: ($w - $wtb)/2;
		position: absolute;
		top: 0;
		width: $wtb;
		z-index: 2;
		.flexbox{
			height: 100%;			
		}
		height: 100%;
		.flexbox{
			flex-flow: column;
			justify-content: center;
		}
	}

	&__title{
		@include font-size(2);
		@extend .bold;
		text-transform: uppercase;
	}

	&__more{
		margin-top: 2rem;
		&-link{
			color: $color2;
			text-decoration: none;
			@extend .italic;
		}
	}
}

.partners{
	.flexbox{
		margin-top: 2rem;
		justify-content: space-between;
		align-items: center;
	}
}

.feedback{
	background-color: rgba(255, 255, 255, .8);
	margin-left: auto;
	margin-right: auto;
	width: 900px;
	z-index: 999;
	.vcard{
		@include font-size(1.5);
		margin-bottom: 1rem;
		.name{
			display: none;
		}
		.adr{
			margin-bottom: 1.2rem;
		}
		.tel{
			text-decoration: none;
			margin-right: .5rem;
		}
		.email{
			margin-left: .5rem;
			@extend .tdn;
			color: $color7;
		}
	}

	&__content{
		padding: 1rem 0 .8rem;
	}
	&__form{
		margin-left: auto;
		margin-right: auto;
		padding: 0 1rem;
		position: relative;
		width: 765px;
		.row{
			@include flexbox;
			@include justify-content(space-between);
			margin-bottom: 1rem;
			input.form-control,
			textarea{
				// background-color: $color9;
				border: 1px solid $color5;
				padding-left: 1.5rem;
				padding-right: 1.5rem;
			}


			input.form-control{
				@extend .italic;
				height: 3rem;
				width: 245px;
				@include font-size(1.4);
				@include placeholder($color1);
			}

			textarea{
				@extend .italic;
				flex: 1;
				overflow: hidden;
				height: 7rem;
				@include placeholder($color1);
			}

			.error{
				border: 1px solid red !important
			}
		}

		.policy{
			margin-top: 1.5rem;
		}

		.submit{
			@include font-size(1.5);
			@include transition-param();
			@extend .block-center;
			background-color: $color7;
			border: none;
			border-radius: 3px;
			color: $color2;
			cursor: pointer;
			padding: 1rem 4rem;
			text-decoration: none;
			margin-top: 2rem;
			text-transform: uppercase;
			@extend .bold;
			&:hover{
				opacity: .9
			}
		}
	}
}



.policy{
	@extend .italic;
	color: $color8;
	a{
		color: $color7;
		text-decoration: none;
	}
}


.user-access + label {
  cursor: pointer;
}

.user-access:not(checked) {
  position: absolute;
  opacity: 0;
}
.user-access:not(checked) + label {
  display: block;
  position: relative; /* будем позиционировать псевдочекбокс относительно label */
  padding: 0 0 0 40px; /* оставляем слева от label место под псевдочекбокс */
}
/* Оформление первой части чекбокса в выключенном состоянии (фон). */
.user-access:not(checked) + label:before {
  content: '';
  position: absolute;
  top: -2px;
  left: 0;
  width: 30px;
  height: 30px;
  border: 1px solid $color8;
}

/* Меняем фон чекбокса, когда он включен. */
.user-access:checked + label:before {
	border-color: $color7;
}
/* Сдвигаем переключатель чекбокса, когда он включен. */
.user-access:checked + label:after {
	content: '*';
	position: absolute;
	top: -3px;
	left: 7px;
	width: 22px;
	height: 22px;
	font-size: 30px;
}

input.submit:disabled{
	background: rgba(128, 128, 128, .3) !important;
	cursor: default;
	&:hover{
		opacity: 1 !important;
	}
}

.form-control,
textarea{
	@include transition-param(background);
}