/* =intro
---------------------------*/
.intro{
	color: $color2;
	margin: 15.5rem 0 9.2rem;
	text-transform: uppercase;
	@include font-size(2.8);
	.container{
		background: rgba(0, 0, 0, .5);
		padding: 0.3rem 1.5rem;
		line-height: 1.3;
	}
}
/* =/intro
---------------------------*/

/* =video-carousel
---------------------------*/
.video{
	&__carousel{
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 12.5rem;
		width: 710px;
		.owl{
			$x: -284px;
			&-nav{
				top: 58px;
			}
			&-prev{
				left: $x;
			}
			&-next{
				right: $x;
			}

			&-item{
				@include transition-param(transform);
				&:not(.big){
					transform: scale(.9);
				}
				&.big img{
					border-color: rgba(255,255,255, .85);
				}
			}
		}
	}
	&__item{
		padding: 15px 0;
		text-align: center;
		img{
			border: 6px solid rgba(255, 255, 255, .3);
			box-shadow: 0 0 4px  rgba(0, 0, 0, .25);
			vertical-align: top;
		}
	}



}

/* =/video-carousel
---------------------------*/

/* =catalog
---------------------------*/
.catalog{
	margin-top: 3rem;
	.flexbox{
		justify-content: space-between;
		margin-bottom: 3.3rem;
	}

	&__item{
		position: relative;
		$s: 200px;
		img{
			vertical-align: top;
		}
		&:before{
			@extend .before;
			height: $s;
			width: $s;
			background: url(../images/mask.png) no-repeat left top;
			z-index: 1;
			@include transition-param;
		}
		&:hover{
			&:before{
				opacity: 0;
			}
		}
		&-title{
			@extend .bold;
			@include font-size(1.8);
			color: $color2;
			height: $s;
			width: $s;
			left: 0;
			line-height: 1.5;
			padding-left: 40px;
			padding-right: 40px;
			position: absolute;
			text-transform: uppercase;
			top: 0;
			z-index: 2;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		&-link{
			display: block;
		}
	}
}
/* =/catalog
---------------------------*/


.home,
.inner{
}

.gallery{
	margin-top: 2.8rem;
	.flexbox{
		// justify-content: space-between;
		margin: 2rem 0 2.8rem;
		flex-wrap: wrap;
	}
	&__item{
		a{
			display: inline-block;
			position: relative;
			img{
				vertical-align: top;
			}
			&:after{
				@extend .before;
				@include transition;
				background:url(../images/zoom.png) no-repeat center center rgba(0, 122, 187, .55);
				height: 100%;
				left: 0;
				opacity: 0;
				top: 0;
				transform: scale(.7);
				width: 100%;
			}

			&:hover{
				&:after{
					transform: scale(1);
					opacity: 1;
				}
			}
		}
	}
}



/* =product
---------------------------*/
.product{
	&__carousel{
		margin: 2rem auto 3rem;
		width: 990px;
	}


	.owl{
		&-nav{
			top: 110px;
		}
		&-item{
			@include transition-param(transform);
			&:not(.big){
				transform: scale(.9);
			}
			&.big img{
				border-color: rgba(255,255,255, .85);
			}
			a{
				color: $color2;
			}
		}
		$x: -140px;
		&-prev{
			left: $x;
		}
		&-next{
			right: $x;
		}
	}

	$w : 333px;
	&__item{
		a{
			width: $w;			
		}
	}

	&__textbox{
		$wtb: 290px;
		left: ($w - $wtb)/2;		
		width: $wtb;
	}
}

.product,
.events{
	&__item{
		@extend .block-center;
		color: $color2;
		text-align: center;

		a{
			color: $color2;
			display: block;
			position: relative;

			&:after{
				@extend .before;
				@include transition-param;
				background:  rgba(0, 122, 187, .55);
				height: 100%;
				left: 0;
				opacity: 0;
				top: 0;
				width: 100%;
				z-index: 1;
			}
			&:hover{
				&:after{
					opacity: 1;
				}
			}
		}

		hr{
			background: $color2;
			border:none;
			display: block;
			height: 3px;
			margin: 2rem auto;
			width: 85px;
		}

	}

	&__pic{
		img{
			max-width: 100%;
			height: auto;
			display: block;
		}
	}

	&__textbox{
		position: absolute;
		top: 0;
		z-index: 2;
		height: 100%;
		.flexbox{
			height: 100%;			
			flex-flow: column;
			justify-content: center;
		}
	}

	&__title{
		@include font-size(2);
		@extend .bold;
		text-transform: uppercase;
	}


	&__title,
	&__shorttext{
		padding: 0 20px;
	}

}

.events{
	&__link{
		display: inline-block;
		margin: 1rem 0 0;
		@extend .tdu;
	}
}
/* =/product
---------------------------*/



/* =partners
---------------------------*/
.partners{
	margin-top: 2.8rem;
	.flexbox{
		align-items: center;
		height: 100%;
		// justify-content: space-between;
		margin-top: 2rem;
		flex-wrap: wrap;
	}
	&__item{
		flex-basis: 20%;
		margin-bottom: .7rem;
		a{
			color: $color8;
			$color: $color6;
			align-items: center;
			display: flex;
			flex-flow: column;
			min-height: 100px;
			padding: 1rem;
			text-decoration: none;
			&:hover{
				span{
					color: $color;
					border-bottom: 1px dashed $color;
				}
				img{
					border: 1px solid $color6;
				}
			}
			img{
				border: 1px solid rgba(255, 255, 255, 0);
				display: block;
				@include transition;
			}
			span{
				@include transition-param(border);
				border: 1px solid rgba(255, 255, 255, 0);
				display: block;
				margin-top: .8rem;
			}
		}
	}
}
/* =/partners
---------------------------*/


/* =feedback
---------------------------*/
.feedback{
	// background-color: rgba(255, 255, 255, .8);
	margin-left: auto;
	margin-right: auto;
	width: 900px;
	z-index: 999;
	.vcard{
		@include font-size(1.5);
		margin-bottom: 1.4rem;
		.name{
			display: none;
		}
		.adr{
			margin-bottom: 1.2rem;
		}
		.tel{
			text-decoration: none;
			margin-right: .5rem;
		}
		.email{
			margin-left: .5rem;
			@extend .tdn;
			color: $color7;
		}
	}

	&__content{
		padding: .8rem 0 1rem;
	}
	&__form{
		margin-left: auto;
		margin-right: auto;
		padding: 0 1rem;
		position: relative;
		width: 765px;
		.row{
			@include flexbox;
			@include justify-content(space-between);
			margin-bottom: 1rem;
			input.form-control,
			textarea{
				// background-color: $color9;
				border: 1px solid $color5;
				padding-left: 1.5rem;
				padding-right: 1.5rem;
			}


			input.form-control{
				@extend .italic;
				height: 3rem;
				width: 245px;
				@include font-size(1.4);
				@include placeholder($color1);
			}

			textarea{
				@extend .italic;
				flex: 1;
				overflow: hidden;
				height: 6.2rem;
				@include placeholder($color1);
			}

			.error{
				border: 1px solid red !important
			}
		}

		.policy{
			margin-top: 1.9rem;
		}

		.submit{
			@include font-size(1.5);
			@include transition-param();
			@extend .block-center;
			background-color: $color7;
			border-radius: 3px;
			border: none;
			color: $color2;
			cursor: pointer;
			margin-top: 2.5rem;
			padding: 0.8rem 4.2rem;
			text-decoration: none;
			text-transform: uppercase;
			@extend .bold;
			&:hover{
				opacity: .9
			}
		}
	}
}
/* =/feedback
---------------------------*/



.map{
	margin-top: 2.5rem;
}


/* =policy
---------------------------*/
.policy{
	@extend .italic;
	color: $color8;
	a{
		color: $color7;
		text-decoration: none;
	}
}
/* =/policy
---------------------------*/


.user-access + label {
  cursor: pointer;
}

.user-access:not(checked) {
  position: absolute;
  opacity: 0;
}
.user-access:not(checked) + label {
  display: block;
  position: relative; /* будем позиционировать псевдочекбокс относительно label */
  padding: 0 0 0 40px; /* оставляем слева от label место под псевдочекбокс */
}
/* Оформление первой части чекбокса в выключенном состоянии (фон). */
.user-access:not(checked) + label:before {
  content: '';
  position: absolute;
  top: -2px;
  left: 0;
  width: 30px;
  height: 30px;
  border: 1px solid $color8;
}

/* Меняем фон чекбокса, когда он включен. */
.user-access:checked + label:before {
	border-color: $color7;
}
/* Сдвигаем переключатель чекбокса, когда он включен. */
.user-access:checked + label:after {
	content: '*';
	position: absolute;
	top: -3px;
	left: 7px;
	width: 22px;
	height: 22px;
	font-size: 30px;
}

input.submit:disabled{
	background: rgba(128, 128, 128, .3) !important;
	cursor: default;
	&:hover{
		opacity: 1 !important;
	}
}

.form-control,
textarea{
	@include transition-param(background);
}