.inner{
	.logo{
		left: 0;
		margin-top: 8rem;
	}
	.main{
		margin-top: 4.3rem;
	}

	.text{
		color: $color9;
	}

	/* =events
	---------------------------*/
	.events,
	.product{
		.flexbox{
			flex-wrap: wrap;

		}
		&__item{
			margin: 2.8rem 0;
			flex-basis: 33.3%;
			a{
				width: 350px;
				overflow: hidden;
				img{
					@include transition-param(transform);
				}
				&:hover{
					img{
						transform: scale(1.05);
					}
				}
			}
		}
		.text{
			margin-bottom: -.5rem;
		}
	}
	/* =/events
	---------------------------*/


	/* =gallery
	---------------------------*/
	.gallery{
		margin-top: 3rem;
		&__item{
			flex-basis: 20%;
			margin-bottom: 2.5rem;
		}
		&__tab{
			display: flex;
			justify-content: center;
			margin-bottom: 4rem;
			li{
				margin: 0 3rem;
			}
			a{
				text-decoration: none;
				color: $color8;
				@include transition;
				&:hover{
					$color: $color6;
					color: $color;
					border-bottom: 1px dashed $color;					
				}
			}
			.active{
				a, span{
					$color: $color6;
					color: $color;
					border-bottom: 1px dashed $color;
				}
			}
		}		
	}
	/* =/gallery
	---------------------------*/



	/* =main
	---------------------------*/
	main{
		margin-bottom: 2.5rem;
		h2{
			@include font-size(1.8);
			color: $color6;
			font-weight: normal;
			margin: 2rem 0; 
		}

		em{
			@extend .italic;
			color: $color1;
			font-style: normal;
		}

		table{
			border-collapse: collapse;
			td{
				border: 1px solid $color5;
				padding: 8px;
			}
		}

		ul{
			font-style: normal;
			li{
				padding-left: 1.6rem;
				position: relative;
				margin: 1rem 0;
				&:before{
					@extend .before;
					background: $color6;
					border-radius: 5px;
					height: 5px;
					width: 5px;
					left: 0;
					top: 8px;
				}
			}
		}


		.youtube{
			max-width: 100%;
		}
	}
	/* =/main
	---------------------------*/

	/* =gallery
	---------------------------*/
	.gallery{

	}
	/* =/gallery
	---------------------------*/	
}

.share{
	@extend .block-center;
	@include font-size(1.8);
	border-top: 1px solid $color8;
	color: $color8;
	font-family: "SegoeUIItalic";
	margin-top: 2.5rem;
	padding-top: 2.3rem;
	width: 450px;
	p{
		padding-bottom: 2rem;
	}
}



#infomodal{
	h1{
		color: $color2;
	}
	color: $color2;	
}