/* =mobile-menu
---------------------------*/
.navbar-toggle,
.close-menu, 
.show-sm{
	display: none;
}
/* =/mobile-menu
---------------------------*/




@media (max-width: 840px){
	.show-sm{
		display: block;
	}


	.navbar-toggle{
		background-color: $color7;
		border: none;
		cursor: pointer;
		display: block;
		height: 70px;
		left: 0;
		position: absolute;
		text-align: center;
		top: 0;
		width: 70px;
		z-index: 99;
		@include transition-param(background-color);
		.icon-bar{
			background-color: $color2;
			display: block;
			height: 2px;
			margin: 8px auto;
			width: 30px;
		}
		&:hover{
			background-color: $color2;
			.icon-bar{
				background-color: $color7;
			}
		}
	}

	.o-menu{
		.close-menu{
			display: block;
			transform: translate(0, 0);
		}
		#navbar{
			display: block;
			transform: translate(-15px, 0);
			z-index: 9999;
		}
		.show-sm{
			padding-left: 1rem;
			a{
				display: block;
				margin: 1.8rem;
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}

	.close-menu{
		@include transition;
		background: none;
		background-color: $color7;
		border: none;
		cursor: pointer;
		display: block;
		height: 70px;
		left: 215px;
		padding: 0;
		position: absolute;
		text-align: center;
		top: 0;
		transform: translate(-320px, 0);
		width: 70px;
		z-index: 99;
	}


	#navbar{
		background-color: $color7;
		box-shadow: none;
		color: $color7;
		display: block;
		left: 0;
		margin-left: 0;
		margin-top: 0;
		outline: none;
		border: none;
		padding-top: 0;
		position: absolute;
		top: 0;
		transform: translate(-305px, 0);
		transition: all .2s ease-out;
		width: 230px;

		ul.mainnav{
			background: none;
			display: block;
			font-size: 15px;
			margin-top: 14px;
			padding-left: 15px;
			.subnav{
				display: none;
				margin-top: -15px;
				opacity: 1;
				padding-top: 0;
				padding-left: 20px;
				position: static;
				&:before{
					display: none;
				}
				&-text{
					display: none !important;
				}
			}
			& > li.folder > a,
			& > li.folder > span
			{
				&:after{
					background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAANCAYAAACUwi84AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAIlJREFUeNpi+P//vw0QBwMxAzbMxMDA4ALEa4A4iQEbAKoSB+Lt/yEgBd0EGIMXiHdAFSVjUwDCfEC8C90kdEcJQa37A8T5QCyBzeUCQHwXalIfuiQTEHdBJecBsRGyJCMQ98N0YnMDTLIfahJcAQcQ9yJJYoRDEVSyF2oNhgIfIM7FJgnCAAEGAKmlN490MQwsAAAAAElFTkSuQmCC") no-repeat right top;
					content: "";
					height: 14px;
					left: 50%;
					position: absolute;
					top: 22px !important;
					width: 8px;					
				}

				&.open{
					&:after{
						@include rotation(90deg);
					}
				}
			}


			& > li.active > a{
				text-decoration: underline;				
			}
			& > li{ // 0 level
				border-bottom: 1px solid #fff;
				margin-left: 0;
				margin-right: 0;
				padding: 0;
				a, span{
					color: $color2;
					display: block;
					height: auto;
					line-height: normal;
					padding: 18px 0 18px 10px;
					text-align: left;
					text-decoration: none;
					text-transform: none;
					border-bottom: none;
					&:hover{
						color: #fff;
						text-decoration: underline;
					}
				}

				ul{
					background: none;
					font-size: 14px !important;
					opacity: 1;
					position: static; 
					li{
						a,
						span{
							padding: .5rem 0 .5rem 1.8rem;
						}
					}
					& > li{
						a,span{
							padding: 0;
						}
					}
				}

				&.active{
					a{
						&:hover{
							color : #fff;
						}
					}
				}
			}
		}
	}
}