@media (max-width: 1550px){
	$x: -130px;
	.video,
	.product{
		&__carousel{
			.owl{
				&-prev{
					left: $x;
				}
				&-next{
					right: $x;
				}
				&-item{
					&:not(.big){
						transform: scale(1);
					}
				}
			}

		}
	}
}

@media (max-width: 1400px){
	.services{
		&__item{
			.owl{
				$x: -30px;
				&-nav{
					top: 58px;
				}
				&-prev{
					left: $x;
				}
				&-next{
					right: $x;
				}
			}
		}
	}	
}


@media (max-width: 1300px){
	.product{
		$x: 0;
		&__carousel{
			.owl{
				&-prev{
					left: $x;
				}
				&-next{
					right: $x;
				}
			}
		}
	}
	.video{
		$x: -50px;
		&__carousel{
			.owl{
				&-prev{
					left: $x;
				}
				&-next{
					right: $x;
				}
			}
		}
	}	
}


@media (max-width: 1070px){
	$x: -40px;
	.product{
		&__carousel{
			width: 800px;
			.owl{
				&-prev{
					left: $x;
				}
				&-next{
					right: $x;
				}
			}

		}
	}	
}


@media (max-width: 991px){
	.product{
		$x: 70px;
		&__carousel{
			width: 100%;
			.owl{
				&-prev{
					left: $x;
				}
				&-next{
					right: $x;
				}
			}
		}
	}
}

@media (max-width: 920px){
	.feedback{
		width: 100%;
	}

	.video{
		$x: 70px;
		&__carousel{
			width: 100%;
			.owl{
				&-prev{
					left: $x;
				}
				&-next{
					right: $x;
				}
			}
		}
	}	
}



@media (max-width: 790px){
	.feedback__form{
		width: 100%;
		.row input.form-control{
			width: 30%;
		}
	} 
}

@media (max-width: 775px){
	.feedback__form{
		width: 100%;
		.policy{
			display: flex;
			justify-content: center;
		}
	}
}


@media (max-width: 730px){
	.feedback__form .row{
		flex-flow: column;
		input.form-control{
			width: 100%;
		}
	}

	.footer{
		&__menu{
			display: none;
		}
	}
}

@media (max-width: 650px){
	.services{
		&__item{
			.owl{
				$x: -10px;
				&-nav{
					top: 58px;
				}
				&-prev{
					left: $x;
				}
				&-next{
					right: $x;
				}
			}
		}
	}
}


@media (max-width: 550px){
	.services{
		&__item{
			.owl{
				&-nav{
					display: none;
				}
			}
		}
	}
}

@media (max-width: 500px){
	.intro{
		margin-top: 4.5rem;
		text-align: center !important;
		.container{
			margin-left: 1.5rem;
			margin-right: 1.5rem;
		}
	}

	.video,
	.product{
		&__carousel{
			.owl{
				&-prev,
				&-next{
					display: none;
				}
			}
		}
	}

	.share{
		width: 100%;
	}
}


@media (max-width: 460px){
	.product{
		$w: 240px;
		&__item,
		&__textbox{
			left: 0;
			width: $w;
		}
		&__textbox{
			padding-left: 5px;
			padding-right: 5px;
		}
	}
}