@media (max-width: 1550px){
	$x: -130px;
	.video,
	.product{
		&__carousel{
			.owl{
				&-prev{
					left: $x;
				}
				&-next{
					right: $x;
				}
				&-item{
					&:not(.big){
						transform: scale(1);
					}
				}
			}

		}
	}
}
@media (max-width: 1450px){
	.product__carousel{
		.owl-item{
			.product__item{
				a{
					margin: 0 auto;
				}
			}
		}
	}
}


@media (max-width: 1400px){
	.services{
		&__item{
			.owl{
				$x: -30px;
				&-nav{
					top: 58px;
				}
				&-prev{
					left: $x;
				}
				&-next{
					right: $x;
				}
			}
		}
	}	
}


@media (max-width: 1300px){
	.product{
		$x: 0;
		&__carousel{
			.owl{
				&-prev{
					left: $x;
				}
				&-next{
					right: $x;
				}
			}
		}
	}
	.video{
		$x: -50px;
		&__carousel{
			.owl{
				&-prev{
					left: $x;
				}
				&-next{
					right: $x;
				}
			}
		}
	}	
}


@media (max-width: 1199px){
	.inner .gallery{
		&__item{
			flex-basis: 19%;
			margin-right: 1%;
			&:last-child{
				margin-right: 0;
			}
		}
	}

	.inner{
		.gallery{
			&__item{
				// margin-right: 0;
			}
		}
	}

	.catalog_sub{
		.flexbox{
			width: 100%;
		}
		.catalog__item{
			width: 33%;
			margin: 1px;
			img{
				max-width: 100%;
			}
		}
	}


	.team__item{
		padding-right: 2rem;
	}
}


@media (max-width: 1070px){
	$x: -40px;
	.product{
		&__carousel{
			width: 800px;
			.owl{
				&-prev{
					left: $x;
				}
				&-next{
					right: $x;
				}
			}
		}
	}	
}


@media (max-width: 1024px){
	.production{
		.flexbox{
			justify-content: center;
		}
		&__item{
			flex-basis: 33.3%;
		}
	}
}

@media (max-width: 991px){
	.product{
		$x: 70px;
		&__carousel{
			width: 100%;
			.owl{
				&-prev{
					left: $x;
				}
				&-next{
					right: $x;
				}
			}
		}
	}

	.production{
		.flexbox{
			justify-content: center;
		}
		&__item{
			margin-left: 1.5rem;
			margin-right: 1.5rem;
		}
	}

	.catalog_sub .catalog__item-desc{
		.title{
			@include font-size(2);
		}
		p:not(.title){
			line-height: 1.3
		}
	}

	.team__item{
		flex-basis: 50%;
	}
}

@media (max-width: 920px){
	.feedback{
		width: 100%;
	}

	.video{
		$x: 70px;
		&__carousel{
			width: 100%;
			.owl{
				&-prev{
					left: $x;
				}
				&-next{
					right: $x;
				}
			}
		}
	}	
}



@media (max-width: 790px){
	.feedback__form{
		width: 100%;
		.row input.form-control{
			width: 30%;
		}
	} 
}

@media (max-width: 775px){
	.gallery{
		.flexbox{
			justify-content: center;
		}
		&__item{
			flex-basis: 50%;
			margin-bottom: 2rem;
			margin-right: 0;
			text-align: center;
		}
	}


	.feedback__form{
		width: 100%;
		.policy{
			display: flex;
			justify-content: center;
		}
	}
}



@media (max-width: 767px){
	header .logo{
		display: none;
	}
	body
	{
		color: $color1;
	}

	.title{
		color: $color6;
	}

	.video{
		height: auto;
		position: relative;
		margin-top: 70px;
		z-index: 1;
		&__content{
			position: relative;
			width: 100%;
		}
		&__photo{
			display: none;
		}
		&__file{
			position: static;
			height: auto;
			width: 100%;
		}

		&__logo{
			display: block;
			position: absolute;
			left: 50%;
			top: 50%;
			z-index: 9999;
			margin-left: -195px;
			margin-top: -55px;
			a{
				display: block;
				position: relative;
			}
		}

		&__carousel{
			margin-bottom: 0;
		}
	}

	.intro{
		margin-top: 5rem;
		margin-bottom: 5rem;
	}


	.user-access:not(checked)+label:before{
		border-color: $color4;
	}
	.user-access:checked+label:before{
		border-color: $color4;
	}

	.share{
		color: $color8;
	}

	.team__name{
		a{
			color: $color1;
		}
	}

	.infomodal{
		.title{
			color: $color2;
		}
	}
}



@media (max-width: 750px){
	.footer{
		&__menu{
			display: none;
		}
	}
}


@media (max-width: 730px){
	.feedback__form .row{
		flex-flow: column;
		input.form-control{
			width: 100%;
		}
	}
}

@media (max-width: 650px){
	.intro{
		margin-bottom: 3rem;
	}

	.video{
		&__carousel{
			margin-bottom: 4rem;
		}
		&__logo{
			// margin-left: -150px;
			margin-top: -40px;
			img{
				display: block;
				margin-left: auto;
				margin-right: auto;
				width: 80%;				
			}
		}
	}


	.inner{
		.gallery{
			&__item{
				flex-basis: 49%;
			}
		}
	}

	.services{
		&__item{
			.owl{
				$x: -10px;
				&-nav{
					top: 58px;
				}
				&-prev{
					left: $x;
				}
				&-next{
					right: $x;
				}
			}
		}
	}

	.production,
	.partners{
		overflow: hidden;
		.flexbox{
			flex-flow: column;
			align-items: center;
			display: block;
		}
	}

	.production__item{
		&-link{
			margin: 0 auto;
			position: relative;
		}
	}

	.catalog_sub .catalog__item{
		width: 49%;
	}


	.gallery{
		margin-top: 0;
		.flexbox{
			margin-top: 0;
		}
	}



	.team{
		&__item{
			display: block;
			flex-basis: 100%;
			margin-top: 4rem;
			padding-right: 0;
			text-align: center;
		}
		&__cell{
			padding-top: .5rem;
			padding-left: 0;
			width: 100%;
		}
		.infomodal{
			bottom: 0;
			position: fixed;
			z-index: 9999;
			.modal-dialog{
				overflow: auto;
				margin: 0;
				position: static;
			}
			.close{
				right: 20px;
			}
			.modal__text{
				text-align: justify;
			}
		}
	}
}


@media (max-width: 550px){
	.services{
		&__item{
			.owl{
				&-nav{
					display: none;
				}
			}
		}
	}
}

@media (max-width: 500px){
	.intro{
		margin-top: 4.5rem;
		text-align: center !important;
		.container{
			margin-left: 1.5rem;
			margin-right: 1.5rem;
		}
	}

	.video,
	.product{
		&__carousel{
			.owl{
				&-prev,
				&-next{
					display: none;
				}
			}
		}
	}

	.share{
		width: 100%;
	}

	.catalog_sub{
		.flexbox{
			display: block;
		}
		.catalog__item{
			margin: 0 auto 1rem;
			max-width: 360px;
			width: 100%;
		}

		.catalog__item-desc p:not(.title){
			line-height: 1.5;
			text-align: justify;
		}
	}
}


@media (max-width: 475px){
	.gallery{
		&__item{
			flex-basis: 100%;
			margin-bottom: 2rem;
		}
	}
}


@media (max-width: 460px){
	.product{
		$w: 240px;
		&__item,
		&__textbox{
			left: 0;
			width: $w;
		}
		&__textbox{
			left: 50%;
			margin-left: -120px;
			padding-left: 5px;
			padding-right: 5px;
		}
	}
}

@media (max-width: 450px){
	.intro{
		margin-top: 5.5rem;
	}

	.inner{
		.gallery{
			&__item{
				flex-basis: 100%;
				margin-right: 0;
			}
		}
	}
}


@media (max-width: 400px){
	.product{
		&__textbox{
			margin-left: -135px;
		}
	}

}



@media (max-width: 360px){
	.video{
		&__logo{
			margin-left: -150px;
			margin-top: -30px;
		}
	}

	.product{
		&__textbox{
			margin-left: -120px;
		}
		&__item{
			width: 250px;
		}
	}
	#foo2 .product__item a{
		width: 250px;
	}

	.team__cell{
		// padding-left: 1rem;
		// width: 168px;
	}
}


@media (max-width: 320px){
	.product{
		&__textbox{
			left: 10px;
			margin-left: 0;
		}
	}
}