@media (max-width: 1550px){
	$x: -130px;
	.video,
	.product{
		&__carousel{
			.owl{
				&-prev{
					left: $x;
				}
				&-next{
					right: $x;
				}
				&-item{
					&:not(.big){
						transform: scale(1);
					}
				}
			}

		}
	}
}
@media (max-width: 1450px){
	.product__carousel{
		.owl-item{
			.product__item{
				a{
					margin: 0 auto;
				}
			}
		}
	}
}


@media (max-width: 1400px){
	.services{
		&__item{
			.owl{
				$x: -30px;
				&-nav{
					top: 58px;
				}
				&-prev{
					left: $x;
				}
				&-next{
					right: $x;
				}
			}
		}
	}	
}


@media (max-width: 1300px){
	.product{
		$x: 0;
		&__carousel{
			.owl{
				&-prev{
					left: $x;
				}
				&-next{
					right: $x;
				}
			}
		}
	}
	.video{
		$x: -50px;
		&__carousel{
			.owl{
				&-prev{
					left: $x;
				}
				&-next{
					right: $x;
				}
			}
		}
	}	
}


@media (max-width: 1199px){
	.gallery{
		&__item{
			flex-basis: 19%;
			margin-right: 1%;
			&:last-child{
				margin-right: 0;
			}
			a{
				img{
				}
			}
		}
	}
}


@media (max-width: 1070px){
	$x: -40px;
	.product{
		&__carousel{
			width: 800px;
			.owl{
				&-prev{
					left: $x;
				}
				&-next{
					right: $x;
				}
			}

		}
	}	
}


@media (max-width: 1024px){
	.production{
		.flexbox{
			justify-content: center;
		}
		&__item{
			flex-basis: 33.3%;
		}
	}
}

@media (max-width: 991px){
	.product{
		$x: 70px;
		&__carousel{
			width: 100%;
			.owl{
				&-prev{
					left: $x;
				}
				&-next{
					right: $x;
				}
			}
		}
	}

	.production{
		.flexbox{
			justify-content: center;
		}
		&__item{
			margin-left: 1.5rem;
			margin-right: 1.5rem;
		}
	}
}

@media (max-width: 920px){
	.feedback{
		width: 100%;
	}

	.video{
		$x: 70px;
		&__carousel{
			width: 100%;
			.owl{
				&-prev{
					left: $x;
				}
				&-next{
					right: $x;
				}
			}
		}
	}	
}



@media (max-width: 790px){
	.feedback__form{
		width: 100%;
		.row input.form-control{
			width: 30%;
		}
	} 
}

@media (max-width: 775px){
	.gallery{
		.flexbox{
			justify-content: center;
		}
		&__item{
			flex-basis: 50%;
			margin-bottom: 2rem;
			margin-right: 0;
			text-align: center;
		}
	}


	.feedback__form{
		width: 100%;
		.policy{
			display: flex;
			justify-content: center;
		}
	}
}


@media (max-width: 730px){
	.feedback__form .row{
		flex-flow: column;
		input.form-control{
			width: 100%;
		}
	}

	.footer{
		&__menu{
			display: none;
		}
	}
}

@media (max-width: 650px){
	.intro{
		margin-bottom: 3rem;
	}

	.video{
		&__carousel{
			margin-bottom: 4rem;
		}
	}


	.services{
		&__item{
			.owl{
				$x: -10px;
				&-nav{
					top: 58px;
				}
				&-prev{
					left: $x;
				}
				&-next{
					right: $x;
				}
			}
		}
	}

	.production,
	.partners{
		overflow: hidden;
		.flexbox{
			// flex-wrap: nowrap;
			flex-flow: column;
			align-items: center;
			display: block;
			// text-align: center;
		}
	}

	.production__item{
		&-link,
		&-title{
			// margin-left: auto;
			// margin-right: auto;
		}

		&-link{
			margin: 0 auto;
			position: relative;
		}
	}
}


@media (max-width: 550px){
	.services{
		&__item{
			.owl{
				&-nav{
					display: none;
				}
			}
		}
	}
}

@media (max-width: 500px){
	.intro{
		margin-top: 4.5rem;
		text-align: center !important;
		.container{
			margin-left: 1.5rem;
			margin-right: 1.5rem;
		}
	}

	.video,
	.product{
		&__carousel{
			.owl{
				&-prev,
				&-next{
					display: none;
				}
			}
		}
	}

	.share{
		width: 100%;
	}
}


@media (max-width: 475px){
	.gallery{
		&__item{
			flex-basis: 100%;
			margin-bottom: 2rem;
		}
	}
}


@media (max-width: 460px){
	.product{
		$w: 240px;
		&__item,
		&__textbox{
			left: 0;
			width: $w;
		}
		&__textbox{
			left: 50%;
			margin-left: -120px;
			padding-left: 5px;
			padding-right: 5px;
		}
	}
}

@media (max-width: 450px){
	.intro{
		margin-top: 5.5rem;
	}
}


@media (max-width: 400px){
	.product{
		&__textbox{
			margin-left: -135px;
		}
	}
}



@media (max-width: 360px){
	.product{
		&__textbox{
			margin-left: -120px;
		}
		&__item{
			width: 250px;
		}
	}
	#foo2 .product__item a{
		width: 250px;
	}
	.product__textbox{

	}
}


@media (max-width: 320px){
	.product{
		&__textbox{
			left: 10px;
			margin-left: 0;
		}
	}

}